
body{	
	background-color: #F8F8FF;
	color: black;
	font-family: sans-serif, serif;
	font-size: 18pt;
	font-kerning: 10pt;
}

h2{
	text-align: center;
	font-size: 26pt;
	color:black;
	font-family: "bebas kai", sans-serif;
	font-variant: small-caps;
}

h3{
	text-align:center;
	font-size:22pt;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 200;
  left: 0;
  position: absolute;
  top: 0;
  width: 280;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 200;
  left: 0;
  position: absolute;
  top: 0;
  width: 280;
  opacity: 0;
}

div.row h3:hover span.text-content {
  opacity: 1;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 200;
  left: 0;
  position: absolute;
  top: 0;
  width: 280;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

h4{
	text-align:center;
}
a{
	color: #778899;
}

img.bigImage{
	object-fit: cover;
}

